
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

.modal-carga {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  font-family: "Onest", sans-serif;
  box-sizing: border-box;
}

.modal-carga-content {
  width: 372px;
  height: 246px; /* Altura según el mockup */
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Para apilar header y body */
  overflow: hidden; /* Evita que los elementos se salgan del contenedor */
}

.modal-carga-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #e0e0e0;
  height: 30px; /* Altura ajustada del header */
}

.modal-carga-header h2 {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.modal-carga-close-btn {
  font-size: 18px;
  color: #51145A;
  background: none;
  border: none;
  cursor: pointer;
}

.modal-carga-body {
  padding: 10px; /* Reducimos el padding para aprovechar el espacio */
  text-align: center;
  flex: 1; /* Ocupa el espacio restante */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ajustamos el espaciado interno */
  align-items: center;
  gap: 5px; /* Menor espaciado entre elementos */
  overflow: hidden; /* Aseguramos que no se salgan del contenedor */
}

.modal-carga-upload-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px; /* Reducimos el espacio entre los elementos */
}



.modal-carga-upload-text {
  font-size: 14px;
  color: #333;
  margin: 0;
  word-wrap: break-word; /* Asegura que las palabras largas no salgan del contenedor */
}

.modal-carga-upload-info {
  font-size: 12px;
  color: #666;
  margin: 0;
}

.modal-carga-upload-or {
  font-size: 12px;
  color: #333;
  margin: 0;
}

.modal-carga-browse-btn {
  font-size: 14px;
  color: #51145A;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.modal-carga-browse-btn:hover {
  font-weight: 800;
}


  